
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
.ntvs
*.njsproj
*.sln
*.sw?

.env

yarn.lock


map.txt

.yarn/install-state.gz

# Logs
logs
*.log
*-debug.log*
*-error.log*

# Dependencias y Build
node_modules/
dist/
dist-ssr/
*.local

# --- BLOQUE YARN BERRY (Configuración personal) ---
# Todo lo relacionado con PnP y el estado de Yarn
.pnp.*
.yarn/*
.yarn/
.yarnrc.yml
yarn.lock
.yarn/install-state.gz

# --- Editores y Sistema ---
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.sw?
*.njsproj
*.sln
*.ntvs

# --- Privados ---
.env
map.txt

