.distribuidor-container {
    width: 100%;
    min-height: 100vh;
    background-image: url("/distribuidor-img.png");
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    
}
