.landing-container {
  width: 100%;
  flex: 1;            
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (min-width: 768px) {
  .landing-hero {
    padding: 60px 20px;
  }
}


.landing-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.55) 0%,
    rgba(255, 255, 255, 0.35) 35%,
    rgba(255, 255, 255, 0.15) 100%
  );
  z-index: 0;
}

.landing-hero {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px 16px;
  max-width: 900px;
  margin: 0 auto;
}

.logo-grande {
  width: 4.2rem;
  margin-bottom: 1rem;
}

.landing-hero h1 {
  font-size: clamp(28px, 5vw, 56px);
  font-weight: 800;
  color: var(--green-principal);
  margin: 0 0 14px;
}

.landing-hero p {
  font-size: 16px;
  color: var(--dark-blue);
  max-width: 720px;
  margin: 0 auto;
  line-height: 1.5;
  border-radius: 10px;
  padding: 0.8rem;
}
