.btn-container {
    text-align: center;
    margin: 1em;
}

.btn-report {
    padding: 1em 2em;
    font-size: 1rem;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
}