.btn-container {
    text-align: center;
    margin: 1em;
}

.btn-report {
    padding: 1em 2em;
    font-size: 1rem;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.selectedParcel {
    margin-top: 2em;
    font-size: 1.2rem;
    color: #333;  
}

.description-text {
    margin-bottom: 1.3em;
    font-size: 1.1rem;
    color: #000;
}

.heading-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading2 {
    margin-block: 1em;
    padding: 1rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    text-align: center;
}

.loading {
    padding: 1rem;
    color: #fff;
    text-align: center;
}

/* .viewer-container {
    flex: 1;
} */