.btn-container {
    text-align: center;
    margin: 1em;
}

.btn-report {
    padding: 1em 2em;
    font-size: 1rem;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.selectedParcel {
    margin-top: 2em;
    font-size: 1.2rem;
    color: #333;  
}

.description-text {
    margin-bottom: 1.3em;
    font-size: 1.1rem;
    color: #000;
}