/* ===== FOOTER (BLINDADO) ===== */

footer.footer {
  width: 100%;
  height: auto;        
  min-height: 60px;    /* opcional */
  padding: 1rem 1.5em;

  flex-shrink: 0;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 0 1.5em;
  gap: 0.5em;

background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);
}

/* ================= TEXTO ================= */

footer.footer p,
footer.footer a {
  font-size: 0.9rem;
  color: #1a1a1a;
  text-decoration: none;
}

footer.footer a:hover {
  color: #8a8787;
}

/* ===============================
            768px
=================================== */
@media screen and (min-width: 768px) {
  footer.footer {
    padding: 0 2em;
  }

  footer.footer p,
  footer.footer a {
    font-size: 0.95rem;
  }
}

/* ===============================
            992px
=================================== */
@media screen and (min-width: 992px) {
  footer.footer p,
  footer.footer a {
    font-size: 1rem;
  }
}
