.report-list {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2em;
    max-width: 100%;
    padding: 0;
    margin: 1em;
    list-style: none;
}

.report-list-item {
    background: var(--grey);
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    padding: 1.7em;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    width: 80%;
    box-shadow: 0 4px 15px rgba(47, 125, 58, 0.3);
}

.report-list-item .report-actions {
    display: flex;
    gap: 0.7rem;
    margin-top: 0.5em;
    justify-content: center;
}

.report-list-item .report-actions button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.report-list-item .report-actions .edit-btn {
width: 100%;
  height: 50px;
  border-radius: 14px; /* Unificado para ambos */
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  border: none;

  background: linear-gradient(180deg, #6bb850 0%, var(--green-principal) 100%);
  color: white;
  font-weight: 800;
  margin-bottom: 0.75rem;
}

.report-list-item .report-actions .edit-btn:hover { 
    filter: brightness(1.1);
  box-shadow: 0 4px 15px rgba(47, 125, 58, 0.3);
  transform: translateY(-1px);
}

.report-list-item .report-actions .edit-btn:disabled,
.report-list-item .report-actions .delete-btn:disabled {
    background: #e5e7eb;
    color: #9ca3af;
    cursor: not-allowed;
}

.report-list-item .report-actions .delete-btn {
    width: 100%;
    height: 50px;
    border-radius: 14px; /* Unificado para ambos */
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    border: none;

    background: linear-gradient(180deg, var(--error-color) 0%, var(--error-border) 100%);
    color: white;
    font-weight: 800;
    margin-bottom: 0.75rem;
}

.report-list-item .report-actions .delete-btn:hover { 
    filter: brightness(1.1);
    box-shadow: 0 4px 15px rgba(47, 125, 58, 0.3);
    transform: translateY(-1px);
}

.report-list-item .report-actions .download-btn {
width: 100%;
  height: 50px;
  border-radius: 14px; /* Unificado para ambos */
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  border: none;

  background: linear-gradient(180deg, var(--yellow) 0%, rgb(88, 88, 26) 100%);
  color: white;
  font-weight: 800;
  margin-bottom: 0.75rem;
}

.report-list-item .report-actions .download-btn:hover { 
    filter: brightness(1.1);
  box-shadow: 0 4px 15px rgba(47, 125, 58, 0.3);
  transform: translateY(-1px);
}

.api-btn  {
width: 100%;
  height: 50px;
  border-radius: 14px; /* Unificado para ambos */
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  border: none;

  background: linear-gradient(180deg, white 0%, var(--dark-blue) 100%);
  color: white;
  font-weight: 800;
  margin-bottom: 0.75rem;
  margin-top: 1rem;
}

.api-btn:hover { 
    filter: brightness(1.1);
  box-shadow: 0 4px 15px rgba(47, 125, 58, 0.3);
  transform: translateY(-1px);
}

.report-list, 
.report-list * { 
    list-style: none; 
} 

.report-list li::marker, 
.report-list-item::marker { 
    content: ""; 
}

@media (min-width: 768px) {
    .report-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .report-list-item {
        width: 90%;
    }
}

@media (min-width: 992px) {
    .report-list {
        grid-template-columns: repeat(3, 1fr);
    }
}