.flexContainer,
.flexColumn {
    display: flex;
    flex-wrap: wrap;
}

.flexColumn {
    flex-direction: column;
}

.centeredText {
    text-align: center;
}

.centeredContent {
    align-items: center;
    justify-content: center;
}

.successMessage {
    color: green;
    padding: 1em 1.5em;
    border-radius: 12px;
    margin: 1em 0;
    text-align: center;
    font-weight: 500;
    box-shadow: 0 4px 12px rgba(167, 219, 167, 0.3);
    animation: slideIn 0.3s ease;
}

.errorMessage {
    color: red;
    padding: 1em 1.5em;
    border-radius: 12px;
    margin: 1em 0;
    text-align: center;
    font-weight: 500;
    box-shadow: 0 4px 12px rgba(245, 163, 163, 0.3);
    animation: slideIn 0.3s ease;
}

.fullContainer {
    width: 100%;
    background: darkgreen;
    height: 3.7em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.fullHeight {
    height: 100vh;

}


.flexContainer, .flexColumn {
    display: flex;
}
.flexColumn { flex-direction: column; }

.centeredContent { display: flex; align-items: center; justify-content: center; }

.fullHeight {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.fullContainer {
    width: 100%;
    background: darkgreen;
    height: 3.7em;
    flex-shrink: 0; /* Para que no se aplaste */
}


.alert-marker {
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background: none;
  border: none;
}