* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
}

a, button {
    cursor: pointer;
}