* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
}

a, button, .clickable {
    cursor: pointer;
}

main {
    margin-block: 2.5em 5em;
}