* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    min-width: 320px;
    overflow-x: hidden;
}

a, button, .clickable {
    cursor: pointer;
}

html, body {
    height: 100%; /* Necesario para que los hijos hereden altura */
    min-width: 320px;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Permite que la app crezca si hay contenido */
}