.legend {
     position: absolute; 
     bottom: 20px; 
     right: 20px; 
    z-index: 1000;
    background: white;
    padding: 10px;
    border-radius: 5px; 
    border: 1px solid gray;
}

.select-overlay {
  position: absolute;
  bottom: 160px;
  right: 20px;
  z-index: 1001;
  padding: 10px;
  border-radius: 5px;
}